html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: Microsoft JhengHei;
  background: #07070e;
  min-width: 1100px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

main {
  position: relative;
  min-width: 1100px;
  height: 980px;
  overflow: hidden;
  margin: 0 auto;
}
main article {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
main article .logo {
  position: absolute;
  width: 805px;
  height: 782px;
  right: 385px;
  top: 0px;
  background: url(../images/logo.png) no-repeat top center;
  background-size: 805px;
  animation: bounceIn;
  animation-duration: 1s;
}
main article .text {
  position: absolute;
  width: 417px;
  height: 253px;
  left: 585px;
  top: 36px;
  background: url(../images/text.png) no-repeat;
  background-size: 417px;
}
main article .input {
  position: absolute;
  width: 408px;
  height: 180px;
  left: 585px;
  top: 307px;
}
main article .input .t {
  float: left;
  width: 408px;
  height: 60px;
}
main article .input .t .n {
  margin: 0 14px 0 0;
}
main article .input .t .n,
main article .input .t .o {
  cursor: pointer;
  float: left;
  width: 195px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 45px;
  border: 1px solid #dfcdb0;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 10px 10px -5px #000;
  color: #fff;
  background: linear-gradient(to top, #d9c39a 0%, #5a3f0f 16%, #dbc89e 26%, #dbc89e 39%, #9a7e52 50%, #1b0a00 62%, #9a7e52 76%, #ffffff 91%, #9a7e52 100%);
}
main article .input .t .n:hover, main article .input .t .n:active, main article .input .t .n.active,
main article .input .t .o:hover,
main article .input .t .o:active,
main article .input .t .o.active {
  border: 1px solid #4ea353;
  background: linear-gradient(to top, #a6ffa6 0%, #7cff79 16%, #009800 43%, #0a6800 61%, #0b5b0f 84%, #0a6800 93%, #002d02 100%);
}
main article .input .b {
  float: left;
  width: 408px;
  height: 80px;
  margin: 38px 0 0 0;
}
main article .input .b .l {
  float: left;
  width: 246px;
  margin: 0 25px 0 0;
}
main article .input .b .l .lt {
  margin: 0 0 10px 0;
}
main article .input .b .l .lt,
main article .input .b .l .lb {
  width: 238px;
  height: 33px;
  border: 1px solid #feed98;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 33px;
  padding: 0 0 0 5px;
}
main article .input .b .l .lt input,
main article .input .b .l .lb input {
  background-color: #000;
  caret-color: #fff;
  outline: none;
}
main article .input .b .r {
  cursor: pointer;
  float: left;
  width: 135px;
  height: 78px;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  border: 1px solid #dfcdb0;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 10px 10px -5px #000;
  color: #fff;
  background: linear-gradient(to top, #d9c39a 0%, #5a3f0f 16%, #dbc89e 26%, #dbc89e 39%, #9a7e52 50%, #1b0a00 62%, #9a7e52 76%, #ffffff 91%, #9a7e52 100%);
}
main article .input .b .r:hover, main article .input .b .r:active, main article .input .b .r.active {
  background: linear-gradient(to top, #ffeecd 0%, #dbc89e 13%, #9a7e52 42%, #1b0a00 100%);
}
main .bg {
  position: absolute;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: 1920px;
  width: 100%;
  height: 100%;
  z-index: -20;
}

.iebg {
  display: none;
}